@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Outfit&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Manrope;
}

body{
    background-color: hsl(218, 23%, 16%);

}

.flex{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    

}
#num p{
    color: hsl(150, 100%, 66%);
    text-align: center;
    font-size: small;
}

#num{
    margin-bottom: -30px;
    z-index: 1;
}


.advDiv{
    background-color: hsl(217, 19%, 24%);
    width: 500px;
    height: 200px;
    color: hsl(193, 38%, 86%);
    border-radius: 5%;
    
}

#Advice{
    text-align: center;
    padding-top: 30px;
    margin: 20px;

}
.line{
    margin-top: -100px;
    width: auto;
    height: auto;

}

.button-box{
    margin-bottom: -25px;
    padding-top: 75px;
}

#button{
    display: none;
}

.dice{
    border-radius: 90%;
    width: 45px;
    height: 45px;
    background-color: hsl(150, 100%, 66%);
    
    
}

img{
    margin-top: 10px;
    margin-left: 10px;
}
